@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 40px;
    gap: 40px;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    border-radius: 8px;
    height: 350px;
    border: 1px solid rgb(207, 188, 188);
    box-shadow: 10px 10px 15px rgb(166, 168, 168);
}

.card-body {
    padding: 10px;
    margin-top: 10px;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card-title {

    font-size: 22px;
    padding: 15px;
    color: white;
}

.card-title:hover {
    color: black;
}

.card-text {
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
button {
    font-size: 22px;
    height: 35px;
    width: 145px;

    margin-top: 10px;
    background-color: rgb(244, 244, 247);
    border-radius: 3px;
    color: black;
    font-weight: 950;
}